::selection {
  background: #ffb7b7; 
}

body  {
  font-family: monospace;
  background: black;
  color:  limegreen;
}

header {
}

h1, h2, h3, h4, h5 {
  text-decoration: underline;
}

img.me {
  width: 250px;
  height: auto;
  float: right;
  margin: 50px;
}

.content {
  width: 800px;
}

a {
  color: #fff;
}
